/* your styles go here */
.text-centrado{
    text-align: left;
    background-color: #7c7663;
    border-color: #7c7663;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.text-central{
    text-align: left;
    font-size: 1rem;
}

.ticket {
    width: 155px;
    max-width: 155px;
}
/*    background-color: #ffc107;
    border-color: #ffc107;
    color: black;
*/
.fontbig7{
    font-size: 7rem;
};

.fontbig6{
    font-size: 6rem;
}

.fontbig4{
    font-size: 4rem;
}
