  <div class="row oculto-impresion">
    <div class="col-4 text-left">
      <button class="btn btn-danger oculto-impresion" id="btnAtrasTicket">
        <i class="icon-close"></i>Atrás
      </button>
    </div>

    <div class="col-4 text-right">
      <button class="btn btn-warning oculto-impresion" onclick="window.print();">
        <i class="icon-bill"></i>Imprimir
      </button>
    </div>  
  </div>
    
  <br><br>

  <div class="row">
    <div class="bg-white col-12" id="ticketcontainer">


    </div>
  </div>

  
  

