  <div class="col-5 oculto-impresion bg-transparent">
    <div class="row">
      <div class="col-4 text-left">
        <button class="btn btn-danger oculto-impresion" id="btnAtrasTicket">
            <i class="icon-close"></i>Atrás
        </button>
      </div>
      <div class="col-4 text-right">
        <button class="btn btn-warning oculto-impresion" onclick="window.print();">
            <i class="icon-bill"></i>Imprimir
          </button>
      </div>
    </div>
  </div>
  
  <br><br>

  <div class="bg-white col-3" id="ticketcontainer">






  </div>
  

