
  <div class="card col-5 oculto-impresion bg-transparent">
    <div class="row">
      <div class="col-4 text-left">
        <button class="btn btn-danger oculto-impresion" id="btnAtrasTicket">
            <i class="icon-close"></i>Atrás
        </button>
      </div>
      <div class="col-4 text-right">
        <button class="btn btn-warning oculto-impresion" onclick="window.print();">
            <i class="icon-bill"></i>Imprimir
          </button>
      </div>
    </div>
  </div>

  <div class="card bg-white col-3">
    <div class="form-group">
  
      <img src="../img/logo.png" width="130" height="65">
   
      
      <!--<h5>Atlantic-Cinema</h5>-->
      <br>
      <h6 id="lbPelicula">TOY STORY 4</h6>
      <br>
      <h6 id="lbSala">Sala 0</h6>
      <br>
      <label>Fecha:</label> <label id="lbFecha">01/01/2001</label>
      <br>
      <label>Hora:</label> <label id="lbHora">00:00 horas</label>
      <br>
      <label>---------------------</label>
      <br>

      <div class="" id="gridContenedor">
          
      </div>

      <div class="bg-white">
        <small>Disfrute la función !!!</small>
      </div>
      
    </div>
  </div>
  

