<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="icon-user-1"></i>
                            </div>
                            <label>Asientos Ocupados</label>
                        </div>
                        <div class="number text-primary" id="txtOcupadas">0</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="icon-grid"></i>
                            </div>
                            <label>Asientos Disponibles</label>
                            </div>
                        <div class="number text-warning" id="txtDisponibles">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="card">
    <br>
    <div class="" id="mapcontainer">
            <div class="card bg-info col-12">
                    <h4 class="text-center text-white">Pantalla - SALA No. 1</h4>
                </div>
                
                <div class="row"><br></div>
                
                <div class="card-deck" id="fila1">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn1Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn1Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning" id="btn1Asiento1" onClick="fcnOcuparAsiento()">
                                <small class="text-centrado">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento2" onClick="fcnOcuparAsiento()">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento3" onClick="fcnOcuparAsiento()">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento4" onClick="fcnOcuparAsiento()">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento5" onClick="fcnOcuparAsiento()">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento6" onClick="fcnOcuparAsiento()">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento7" onClick="fcnOcuparAsiento()">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento8" onClick="fcnOcuparAsiento()">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento9" onClick="fcnOcuparAsiento()">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-md bg-warning btn-icon" id="btn1Asiento10" onClick="fcnOcuparAsiento()">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento11" onClick="fcnOcuparAsiento()">
                                <small class="">11 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento12" onClick="fcnOcuparAsiento()">
                                <small class="">12 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento13" onClick="fcnOcuparAsiento()">
                                <small class="">13 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento14" onClick="fcnOcuparAsiento()">
                                <small class="">14 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento15" onClick="fcnOcuparAsiento()">
                                <small class="">15 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento16" onClick="fcnOcuparAsiento()">
                                <small class="">16 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento17" onClick="fcnOcuparAsiento()">
                                <small class="">17 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento18" onClick="fcnOcuparAsiento()">
                                <small class="">18 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento19" onClick="fcnOcuparAsiento()">
                                <small class="">19 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento20" onClick="fcnOcuparAsiento()">
                                <small class="">20 </small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila2">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn2Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn2Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento1">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento2">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento3">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento4">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento5">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento6">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento7">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento8">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento9">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento10">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento11">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento12">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento13">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento14">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento15">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento16">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento17">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento18">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento19">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento20">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila3">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn3Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn3Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento1">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento2">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento3">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento4">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento5">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento6">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento7">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento8">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento9">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento10">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento11">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento12">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento13">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento14">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento15">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento16">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento17">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento18">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento19">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento20">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila4">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn4Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn4Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento1">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento2">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento3">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento4">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento5">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento6">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento7">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento8">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento9">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento10">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento11">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento12">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento13">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento14">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento15">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento16">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento17">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento18">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento19">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento20">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila5">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn5Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn5Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento1">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento2">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento3">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento4">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento5">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento6">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento7">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento8">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento9">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento10">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento11">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento12">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento13">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento14">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento15">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento16">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento17">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento18">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento19">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento20">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila6">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento1">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento2">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento3">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento4">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento5">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento6">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento7">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento8">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento9">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento10">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento11">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento12">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento13">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento14">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento15">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento16">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento17">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento18">
                                <small class="">18</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila7">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento1">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento2">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento3">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento4">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento5">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento6">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento7">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento8">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento9">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento10">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento11">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento12">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento13">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento14">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento15">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento16">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento17">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent" id="btn7Asiento18">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent" id="btn7Asiento19">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent" id="btn7Asiento20">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                                <button class="btn btn-icon btn-md bg-transparent " id="btn7Asiento0">
                                    <small class=""></small>
                                 </button>
                            </div>
                            <div class="card">
                                <button class="btn btn-icon btn-md bg-transparent " id="btn7Asiento00">
                                    <small class=""></small>
                                 </button>
                        </div>
                         
                    
                     
                </div>
    
    </div>
</div>

   <!-- VENTANA MODAL -->
   <div class="modal fade" id="ModOrdenF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-danger h3">Asignar Asiento</label>
                <!--<label>No. de Asiento: <b id="txtDataAsiento">0</b></label>-->
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group">
                            <label>No. Fila: </label>
                            <label class="text-danger" id="txtDataFila">0</label>
                        </div>
                        <div class="form-group">
                            <label>No. Asiento: </label>
                            <label class="text-danger" id="txtDataAsiento">0</label>
                        </div>
                        <div class="form-group">
                            <label>Sala : </label>
                            <label id="txtDataSala" class="">.</label>
                        </div>
                        <!--
                        <div class="form-group">
                            <label>Ubicación : </label>
                            <label id="txtDataUbicacion" class="">.</label>
                        </div>
                        -->
                        <hr class="sidebar-divider">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Serie Factura : </label>
                                    <select id="cmbTipoDoc" class="form-control"></select>
                                </div>
                                <div class="col-md-6">
                                    <label>No. Factura : </label>
                                    <input type="number" id="txtDataNumero" class="form-control">       
                                </div>
                            </div>
                        </div>
       
                    </div>
                </div>
    
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-info btn-round" id="btnCancelarAsignar" data-dismiss="modal">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        CANCELAR
                    </button>
                    
                    <button type="button" class="btn btn-success btn-round" id="btnAsignarAsiento">
                        <i class="now-ui-icons ui-1_check"></i>
                        ASIGNAR
                    </button>
                
                </div>
            </div>
        </div>
    </div>