<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="icon-user-1"></i>
                            </div>
                            <label>Asientos Ocupados</label>
                        </div>
                        <div class="number text-primary" id="txtOcupadas">0</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="icon-user-1"></i>
                            </div>
                            <label>Asientos Disponibles</label>
                            </div>
                        <div class="number text-warning" id="txtDisponibles">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="card">
    <br>
    <div class="" id="mapcontainer">
  
  
        <!--<img src="../salas/SALA1.png" usemap="#image-map" id="mapimage">
            <map name="image-map" id="mapcontainer">
                <area alt="1" title="1" href="#" coords="143,125,174,155" shape="rect" data-maphilight='{"stroke":false,"fillColor":"000000","fillOpacity":1,"alwaysOn":true}'>
                <area target="" alt="2" title="2" href="#" coords="195,124,229,157" shape="rect" data-toggle="modal" data-target="#ModOrdenF" onclick="fcnCargarDatosModal(0,2,'ASIENTO 2',1,1);">
                <area target="" alt="3" title="3" href="#" coords="249,125,283,156" shape="rect" data-toggle="modal" data-target="#ModOrdenF" onclick="fcnCargarDatosModal(0,3,'ASIENTO 3',1,1);">
            </map>
        -->  
                
    </div>
</div>

   <!-- VENTANA MODAL -->
   <div class="modal fade" id="ModOrdenF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-danger h3">Asignar Asiento</label>
                    <label>No. de Asiento: <b id="txtDataCodigo">0</b></label>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Descripción del asiento: </label>
                            <label class="text-danger" id="txtDataDescripcion">.</label>
                        </div>
                        <div class="form-group">
                            <label>Sala : </label>
                            <label id="txtDataSala" class="">.</label>
                        </div>
                        <!--
                        <div class="form-group">
                            <label>Ubicación : </label>
                            <label id="txtDataUbicacion" class="">.</label>
                        </div>
                        -->
                        <hr class="sidebar-divider">

                        <div class="form-group">
                            <label>No. Factura : </label>
                            <input type="number" id="txtDataFactura" class="form-control">
                        </div>
       
                    </div>
                </div>
    
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-info btn-round" id="btnCancelarAsignar" data-dismiss="modal">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        CANCELAR
                    </button>
                    
                    <button type="button" class="btn btn-success btn-round" id="btnAsignarAsiento">
                        <i class="now-ui-icons ui-1_check"></i>
                        ASIGNAR
                    </button>
                
                </div>
            </div>
        </div>
    </div>