<div class="card">
    
    <div class="card card-timeline card-plain">
        <div class="card-body">
            <ul class="timeline timeline-simple">
           
                <li class="timeline-inverted">
                    <div class="timeline-badge danger">
                        <i class="now-ui-icons objects_planet"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="badge badge-default" id="txtTituloPelicula">JOHN WICK 3 - PARABELLUM</span>
                        </div>
                        <div class="timeline-body card-deck">
                            <div class="card col-6">
                                <label>Horario:</label>
                                <div class="bg-info">
                                    <p>Función: 8:00 - 10:00</p>
                                    <p>Función: 14:00 - 16:00</p>
                                    <p>Función: 20:00 - 22:00</p>
                                </div>
                            </div>
                            <div class="card bg-light col-6">
                                <img src="../cartelera/1.jpg" style="width: 100%">
                            </div>
                        </div>
                        
                                               
                    </div>
                </li>

                <!--
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="now-ui-icons shopping_tag-content"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="badge badge-success">Another One</span>
                        </div>
                        <div class="timeline-body">
                            <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                        </div>
                    </div>
                </li>
  -->
            </ul>
         </div>
    </div>
</div>

<div class="map" id="map">

</div>