<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="icon-user-1"></i>
                            </div>
                            <label>Asientos Ocupados</label>
                        </div>
                        <div class="number text-primary" id="txtOcupadas">0</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon">
                                <i class="icon-grid"></i>
                            </div>
                            <label>Asientos Disponibles</label>
                            </div>
                        <div class="number text-warning" id="txtDisponibles">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="card">
    <br>
    <div class="" id="mapcontainer">
            <div class="card bg-info col-12">
                    <h4 class="text-center text-white">Pantalla - SALA No. 1</h4>
                </div>
                
                <div class="row"><br></div>
                
                <div class="card-deck" id="fila1">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-success" id="">
                                <small class="text-white">F1  </small>
                            </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn1Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn1Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning" id="btn1Asiento1" onClick="fcnOcuparAsiento(1,1)">
                                <small class="text-centrado">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento2" onClick="fcnOcuparAsiento(1,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento3" onClick="fcnOcuparAsiento(1,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento4" onClick="fcnOcuparAsiento(1,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento5" onClick="fcnOcuparAsiento(1,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento6" onClick="fcnOcuparAsiento(1,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento7" onClick="fcnOcuparAsiento(1,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento8" onClick="fcnOcuparAsiento(1,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento9" onClick="fcnOcuparAsiento(1,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-md bg-warning btn-icon" id="btn1Asiento10" onClick="fcnOcuparAsiento(1,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento11" onClick="fcnOcuparAsiento(1,11)">
                                <small class="">11 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento12" onClick="fcnOcuparAsiento(1,12)">
                                <small class="">12 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento13" onClick="fcnOcuparAsiento(1,13)">
                                <small class="">13 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento14" onClick="fcnOcuparAsiento(1,14)">
                                <small class="">14 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento15" onClick="fcnOcuparAsiento(1,15)">
                                <small class="">15 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento16" onClick="fcnOcuparAsiento(1,16)">
                                <small class="">16 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento17" onClick="fcnOcuparAsiento(1,17)">
                                <small class="">17 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento18" onClick="fcnOcuparAsiento(1,18)">
                                <small class="">18 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento19" onClick="fcnOcuparAsiento(1,19)">
                                <small class="">19 </small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn1Asiento20" onClick="fcnOcuparAsiento(1,20)">
                                <small class="">20 </small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila2">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-success" id="">
                                <small class="text-white">F2  </small>
                            </button>
                        </div>

                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn2Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn2Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento1" onClick="fcnOcuparAsiento(2,1)">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento2" onClick="fcnOcuparAsiento(2,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento3" onClick="fcnOcuparAsiento(2,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento4" onClick="fcnOcuparAsiento(2,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento5" onClick="fcnOcuparAsiento(2,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento6" onClick="fcnOcuparAsiento(2,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento7" onClick="fcnOcuparAsiento(2,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento8" onClick="fcnOcuparAsiento(2,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento9" onClick="fcnOcuparAsiento(2,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento10" onClick="fcnOcuparAsiento(2,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento11" onClick="fcnOcuparAsiento(2,11)">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento12" onClick="fcnOcuparAsiento(2,12)">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento13" onClick="fcnOcuparAsiento(2,13)">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento14" onClick="fcnOcuparAsiento(2,14)">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento15" onClick="fcnOcuparAsiento(2,15)">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento16" onClick="fcnOcuparAsiento(2,16)">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento17" onClick="fcnOcuparAsiento(2,17)">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento18" onClick="fcnOcuparAsiento(2,18)">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento19" onClick="fcnOcuparAsiento(2,19)">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn2Asiento20" onClick="fcnOcuparAsiento(2,20)">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila3">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-success" id="">
                                <small class="text-white">F3  </small>
                            </button>
                        </div>
    
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn3Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn3Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento1" onClick="fcnOcuparAsiento(3,1)">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento2" onClick="fcnOcuparAsiento(3,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento3" onClick="fcnOcuparAsiento(3,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento4" onClick="fcnOcuparAsiento(3,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento5" onClick="fcnOcuparAsiento(3,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento6" onClick="fcnOcuparAsiento(3,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento7" onClick="fcnOcuparAsiento(3,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento8" onClick="fcnOcuparAsiento(3,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento9" onClick="fcnOcuparAsiento(3,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento10" onClick="fcnOcuparAsiento(3,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento11" onClick="fcnOcuparAsiento(3,11)">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento12" onClick="fcnOcuparAsiento(3,12)">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento13" onClick="fcnOcuparAsiento(3,13)">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento14" onClick="fcnOcuparAsiento(3,14)">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento15" onClick="fcnOcuparAsiento(3,15)">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento16" onClick="fcnOcuparAsiento(3,16)">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento17" onClick="fcnOcuparAsiento(3,17)">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento18" onClick="fcnOcuparAsiento(3,18)">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento19" onClick="fcnOcuparAsiento(3,19)">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn3Asiento20" onClick="fcnOcuparAsiento(3,20)">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila4">
                        <div class="card">
                                <button class="btn btn-icon btn-md bg-success" id="">
                                    <small class="text-white">F4  </small>
                                </button>
                            </div>
    
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn4Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn4Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento1" onClick="fcnOcuparAsiento(4,1)">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento2" onClick="fcnOcuparAsiento(4,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento3" onClick="fcnOcuparAsiento(4,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento4" onClick="fcnOcuparAsiento(4,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento5" onClick="fcnOcuparAsiento(4,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento6" onClick="fcnOcuparAsiento(4,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento7" onClick="fcnOcuparAsiento(4,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento8" onClick="fcnOcuparAsiento(4,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento9" onClick="fcnOcuparAsiento(4,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento10" onClick="fcnOcuparAsiento(4,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento11" onClick="fcnOcuparAsiento(4,11)">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento12" onClick="fcnOcuparAsiento(4,12)">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento13" onClick="fcnOcuparAsiento(4,13)">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento14" onClick="fcnOcuparAsiento(4,14)">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento15" onClick="fcnOcuparAsiento(4,15)">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento16" onClick="fcnOcuparAsiento(4,16)">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento17" onClick="fcnOcuparAsiento(4,17)">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento18" onClick="fcnOcuparAsiento(4,18)">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento19" onClick="fcnOcuparAsiento(4,19)">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn4Asiento20" onClick="fcnOcuparAsiento(4,20)">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila5">
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-success" id="">
                                <small class="text-white">F5  </small>
                            </button>
                        </div>
    
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn5Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn5Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento1" onClick="fcnOcuparAsiento(5,1)">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento2" onClick="fcnOcuparAsiento(5,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento3" onClick="fcnOcuparAsiento(5,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento4" onClick="fcnOcuparAsiento(5,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento5" onClick="fcnOcuparAsiento(5,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento6" onClick="fcnOcuparAsiento(5,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento7" onClick="fcnOcuparAsiento(5,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento8" onClick="fcnOcuparAsiento(5,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento9" onClick="fcnOcuparAsiento(5,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento10" onClick="fcnOcuparAsiento(5,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento11" onClick="fcnOcuparAsiento(5,11)">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento12" onClick="fcnOcuparAsiento(5,12)">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento13" onClick="fcnOcuparAsiento(5,13)">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento14" onClick="fcnOcuparAsiento(5,14)">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento15" onClick="fcnOcuparAsiento(5,15)">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento16" onClick="fcnOcuparAsiento(5,16)">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento17" onClick="fcnOcuparAsiento(5,17)">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento18" onClick="fcnOcuparAsiento(5,18)">
                                <small class="">18</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento19" onClick="fcnOcuparAsiento(5,19)">
                                <small class="">19</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn5Asiento20" onClick="fcnOcuparAsiento(5,20)">
                                <small class="">20</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila6">
                        <div class="card">
                                <button class="btn btn-icon btn-md bg-success" id="">
                                    <small class="text-white">F6  </small>
                                </button>
                            </div>
    
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                     
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento1" onClick="fcnOcuparAsiento(6,1)">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento2" onClick="fcnOcuparAsiento(6,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento3" onClick="fcnOcuparAsiento(6,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento4" onClick="fcnOcuparAsiento(6,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento5" onClick="fcnOcuparAsiento(6,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento6" onClick="fcnOcuparAsiento(6,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento7" onClick="fcnOcuparAsiento(6,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento8" onClick="fcnOcuparAsiento(6,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento9" onClick="fcnOcuparAsiento(6,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento10" onClick="fcnOcuparAsiento(6,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento11" onClick="fcnOcuparAsiento(6,11)">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento12" onClick="fcnOcuparAsiento(6,12)">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento13" onClick="fcnOcuparAsiento(6,13)">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento00">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent " id="btn6Asiento0">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento14" onClick="fcnOcuparAsiento(6,14)">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento15" onClick="fcnOcuparAsiento(6,15)">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento16" onClick="fcnOcuparAsiento(6,16)">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento17" onClick="fcnOcuparAsiento(6,17)">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn6Asiento18" onClick="fcnOcuparAsiento(6,18)">
                                <small class="">18</small>
                             </button>
                        </div>
                     
                </div>
                
                <div class="card-deck" id="fila7">
                        <div class="card">
                                <button class="btn btn-md bg-success" id="">
                                    <small class="text-white">F7  </small>
                                </button>
                            </div>
    
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento1" onClick="fcnOcuparAsiento(7,1)">
                                <small class="">1</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento2" onClick="fcnOcuparAsiento(7,2)">
                                <small class="">2</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento3" onClick="fcnOcuparAsiento(7,3)">
                                <small class="">3</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento4" onClick="fcnOcuparAsiento(7,4)">
                                <small class="">4</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento5" onClick="fcnOcuparAsiento(7,5)">
                                <small class="">5</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento6" onClick="fcnOcuparAsiento(7,6)">
                                <small class="">6</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento7" onClick="fcnOcuparAsiento(7,7)">
                                <small class="">7</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento8" onClick="fcnOcuparAsiento(7,8)">
                                <small class="">8</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento9" onClick="fcnOcuparAsiento(7,9)">
                                <small class="">9</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento10" onClick="fcnOcuparAsiento(7,10)">
                                <small class="">10</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento11" onClick="fcnOcuparAsiento(7,11)">
                                <small class="">11</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento12" onClick="fcnOcuparAsiento(7,12)">
                                <small class="">12</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento13" onClick="fcnOcuparAsiento(7,13)">
                                <small class="">13</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento14" onClick="fcnOcuparAsiento(7,14)">
                                <small class="">14</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento15" onClick="fcnOcuparAsiento(7,15)">
                                <small class="">15</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento16" onClick="fcnOcuparAsiento(7,16)">
                                <small class="">16</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-warning " id="btn7Asiento17" onClick="fcnOcuparAsiento(7,17)">
                                <small class="">17</small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent" id="btn7Asiento18" onClick="fcnOcuparAsiento(7,18)">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent" id="btn7Asiento19" onClick="fcnOcuparAsiento(7,19)">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                            <button class="btn btn-icon btn-md bg-transparent" id="btn7Asiento20" onClick="fcnOcuparAsiento(7,20)">
                                <small class=""></small>
                             </button>
                        </div>
                        <div class="card">
                                <button class="btn btn-icon btn-md bg-transparent " id="btn7Asiento0">
                                    <small class=""></small>
                                 </button>
                            </div>
                            <div class="card">
                                <button class="btn btn-icon btn-md bg-transparent " id="btn7Asiento00">
                                    <small class=""></small>
                                 </button>
                        </div>
                         
                    
                     
                </div>
    
    </div>
</div>

   <!-- VENTANA MODAL -->
   <div class="modal fade" id="ModOrdenF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-danger h3">Asignar Asiento</label>
                
                <!--<label>No. de Asiento: <b id="txtDataAsiento">0</b></label>-->
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group">
                            <label>No. Fila: </label>
                            <label class="text-danger" id="txtDataFila">0</label>
                        </div>
                        <div class="form-group">
                            <label>No. Asiento: </label>
                            <label class="text-danger" id="txtDataAsiento">0</label>
                        </div>
                        <div class="form-group">
                            <label>Sala : </label>
                            <label id="txtDataSala" class="">.</label>
                        </div>
                        <!--
                        <div class="form-group">
                            <label>Ubicación : </label>
                            <label id="txtDataUbicacion" class="">.</label>
                        </div>
                        -->
                        <hr class="sidebar-divider">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Serie Factura : </label>
                                    <select id="cmbTipoDoc" class="form-control"></select>
                                </div>
                                <div class="col-md-6">
                                    <label>No. Factura : </label>
                                    <input type="number" id="txtDataNumero" class="form-control">       
                                </div>
                            </div>
                        </div>
       
                    </div>
                </div>
    
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-info btn-round" id="btnCancelarAsignar" data-dismiss="modal">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        CANCELAR
                    </button>
                    
                    <button type="button" class="btn btn-success btn-round" id="btnAsignarAsiento" onclick="fcnAsignarAsiento()">
                        <i class="now-ui-icons ui-1_check"></i>
                        ASIGNAR
                    </button>
                
                </div>
            </div>
        </div>
    </div>