<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h6>Películas en Cartelera</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <td>Pelicula</td>
                                    <td>Horario</td>
                                    <td>Sala</td>
                                    <td></td>
                                    <td></td>                               
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>JHON WICK 1</td>
                                    <td>08:00 - 10:00</td>
                                    <td>SALA NO. 1</td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-warning">edit</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-danger">x</button>
                                    </td>    
                                </tr>
                                <tr>
                                    <td>JHON WICK 1</td>
                                    <td>08:00 - 10:00</td>
                                    <td>SALA NO. 1</td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-warning">edit</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-danger">x</button>
                                    </td>        
                                </tr>
                                <tr>
                                    <td>JHON WICK 1</td>
                                    <td>08:00 - 10:00</td>
                                    <td>SALA NO. 1</td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-warning">edit</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-danger">x</button>
                                    </td>    
                                </tr>
                                <tr>
                                    <td>JHON WICK 1</td>
                                    <td>08:00 - 10:00</td>
                                    <td>SALA NO. 1</td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-warning">edit</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-danger">x</button>
                                    </td>    
                                </tr>   
                                <tr>
                                    <td>JHON WICK 1</td>
                                    <td>08:00 - 10:00</td>
                                    <td>SALA NO. 1</td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-warning">edit</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-icon btn-danger">x</button>
                                    </td>    
                                </tr>       
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>